
@{
    ViewData["Title"] = "درباره ما";
}

<h1 calss="my-4 pt-3">درباره ما</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="display-3 pb-5">به فروشگاه ما خوش آمدید</h1>
            <p class="lead">می توانید از طریق <a asp-action="ContactUs">راه های ارتباطی</a> با ما در ارتباط باشید</p>
            <hr class="my-4">
            <p class="text-justify">
                ما به صورت حرفه ای فعالیت خود را از سال 1394 رسماً شروع کردیم. و برای داشتن کسب و کاری موفق و همچنین رضایت مشتریان،
                فعالیت مجازی خود را هم آفاز نمدیم. عمده ی کار ما خرید و فروش گل و گیاهان در گروه های مختلف است. سعی کرده ایم،
                محصولات خود را با توجه به استقبال و خرید شما مشتریان، مطابقت دهیم. و همچنین برای تشکر و احترام به همراهی و اعتماد شما به مجموعه ما
                ، محصولات را با قیمت مناسب در اختیار شما قرار داده ایم.
                در این چند سال فعالیت مفتخریم با تعداد زیادی از مردم، به صورت دائمی کار کنیم. همچنین رضایت آن ها را به دست آوریم.
            </p>

        </div>
    </div>
</div>

