
@{
    ViewData["Title"] = "تماس با ما";
}

<h1>تماس با ما</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card text-white  mb-3 align-content-center " style="width: 100%;background-color:#043900;">
            <div class="card-header">راه های تماس</div>
            <div class="card-body">
                <h4 class="card-title">ارتباط با ما</h4>
                <p class="card-text">موبایل : 09140275379</p>
                <p class="card-text">تلفن ثابت : 03152243683</p>
                <p class="card-text">ایمیل: razi@abdollahi.com</p>
            </div>
        </div>
    </div>
    

</div>

