
@{
    ViewData["Title"] = "پرداخت آنلاین";
}
<div class="row">
    <div class="container pt-5">
        <div class="col-md-12 alert-success mb-3">
            <h1>پرداخت آنلاین</h1>
            <h1>کد پیگیری : @ViewBag.code </h1>
            <br />
            <br />
            <h3>از خرید و اعتماد شما سپاسگزاریم...</h3>
            <br />
            <br />
        </div>
    </div>
</div>
